<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <commands>
            <command name="item:PublishSelected" type="Hackathon.Feature.DynamicPublish.Commands.PublishSelected,Hackathon.Feature.DynamicPublish" />
        </commands>
    </sitecore>
</configuration>